h1 {

    color: white;
    background-color: darkblue;
    text-align: center;
}

#container1 {
    border-style: dashed;
    border-color: black;
    border: 5px;
    width: 70%;
}

#nextFiveDays {
    display: flex;
    justify-content: space-between;
    width: 70%;
    

}

#searchContainer {
width: 20%;
height: 90%;
display: flex;
background-color: aquamarine;
justify-content: left;

}

#searchbtn {
    width: 90%;
    margin: 10px;
    color: white;
    background-color: blue;
}

#site-search {

    width: 90%;
    margin: 10px;
}

#searchHistory {
    display: flex;
    justify-content: right;


}
.containers {

    /* not sure yet */
}

.searchHistoryBtn {
    margin: 10px;
    color: white;
    background-color: blue;


}